body {
    font-family: Arial;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
}
.nav-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 300px;
}
.nav-links-item {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #ffffff;
    padding: 10 px 25 px;
}
a:hover {
    border-radius: 5px;
    background-color: #575757;
    color: yellow;
    text-decoration: underline;
    padding: 10 px 25 px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: "Open Sans";
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    color: #ffffff;
    padding: 30px 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    
}
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    object-fit: cover;
}
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-name {
    margin: 0;
    font-size: 28px;
    color: #333333;
}
.profile-description {
    margin: 10px 0px;
    font-size: 14px;
    color: #777777;
}
.social-links {
    display: flex;
    margin-top: 20px;
}
.social-link {
    color:  #007bff;
    text-decoration: none;
    padding: 0px 10px;
}